.PostItem{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.PostItem__Content{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.PostItem__Content__Description{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 400px;
}

.PostItem__Line{
  background: purple;
  opacity: 0.2;
  width: 80%;
  height: 1px;
}
.PostItem__Button{
  font-size: 20px;
  width: 120px;
}